@import './default.scss';
.container {
    display: flex;
    flex-wrap: nowrap;
    .nav-left {
        min-width: 180px;
        height: calc(100vh);
        background-color: #002140;
    }
    .main {
        flex: 1;
        background-color: $colorL;
        height: calc(100vh);
        .content {
            position: relative;
            padding: 20px;
        }
    }
}

.swarp {
    width: 100%;
}